* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif
}

h1 {
    font-size: x-large;
}

/* Mise en place de la grille principale MOBILE */

body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(12, auto);
    gap: 2px;
}

header {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    display: flex;
    justify-content: space-between;
}

#MailLogout {
    text-align: end;
}

nav {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    display: flex;
    justify-content: space-around;

}
.NavList {
    border: solid 2px black;
    border-bottom: solid 4px black;
    flex-wrap: wrap;
    flex-basis: 100%; 
    display: inline;
    text-align: center;
}

.NavList li  {
    border-collapse: collapse;
    padding: 2%;
    border: solid 2px black;
}

main {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(18, auto);
    gap: 10px;
}

footer {
    grid-column: span 2 / span 2;
    grid-row-start: 12;
}

/* Main grille interieure */
.Title {
    grid-column: span 3 / span 3;
}

.ContactDetails {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    border: black solid 3px;
    margin: 5px;
}

.ContactDetails ul li {
    display: flex;
    padding: 5px;
}

caption {
    text-align: left;
    caption-side: top;
}

caption img, h2 {
    display: inline-flex;
}

.Table {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 6;
    border: black solid 3px;
    margin: 5px;
}

table {
  border: black solid 3px;
  margin: 3px;  
  table-layout: auto;
  border-collapse: collapse;
}

tr th, td {
    text-align: center;
    border-left: solid 2px black;
}
thead tr {
    background-color: lightgrey;
}

tbody tr:nth-child(even) {
    background-color: rgb(236, 236, 236)
}

aside {
    grid-column: span 3 / span 3;
    grid-row-start: 10;
}

.Notification {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 11;
    border: black dashed 3px;
    border-radius: 8px;
}

.Messaging {
    grid-row: span 2 / span 2;
    grid-row-start: 13;
    border: black solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Messaging a figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#BigMail {
    min-height: 5rem;
    
}

.ProContactDetails {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 13;
    border: black solid 3px;
    
}

.InformationPanel {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 15;
    border: black solid 3px;
}

footer {
    background-color: lightgrey;
}

a {
    color: black;
}

.aUnderline {
    text-decoration: underline;
}

.rotate {
width:100px;
height:100px;
background: hidden;
animation:rotate 5s infinite;
animation-timing-function: cubic-bezier(1,0,.5,1);
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) } 
    to { -webkit-transform: rotate(360deg) } 
}

form {
    display: flex;
    flex-direction: column;
}
/* Mise en place de la grille principale DESKTOP*/

@media (min-width: 678px) {

body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(12, auto);
    gap: 2px;
}

header {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

nav {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.NavList {
    display: flex;
    border: solid 2px black;
    border-bottom: solid 4px black;
    flex-wrap: wrap;
    flex-basis: 100%; 
    text-align: center;
    justify-content: center;
}

.NavList li  {
    border-collapse: collapse;
    padding: 2%;
    border: solid 2px black;
}

main {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(11, auto);
    gap: 10px;
}

footer {
    grid-column: span 2 / span 2;
    grid-row-start: 12;
}

/* Main grille interieure */
.Title {
    grid-column: span 3 / span 3;
}

.ContactDetails {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 2;
}

.Table {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 7;
}

aside {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 1;
}

.Notification {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

.Messaging {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
}

.ProContactDetails {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;
}

.InformationPanel {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    grid-row-start: 7;
}
}