* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif
}

h1 {
    font-size: x-large;
}

/* Mise en place de la grille principale MOBILE */

body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(12, auto);
    gap: 2px;
}

header {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    display: flex;
    justify-content: space-between;
}

#MailLogout {
    text-align: end;
}

nav {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    display: flex;
    justify-content: space-around;

}
.NavList {
    display: inline-flex;
    gap : 10px;
    border: solid 2px black;
    border-bottom: solid 4px black;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.NavList li {

    padding: 1%;
    border: solid 2px black;
}

main {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(18, auto);
    gap: 10px;
}

footer {
    grid-column: span 2 / span 2;
    grid-row-start: 12;
}

/* Main grille interieure */
.Title {
    grid-column: span 3 / span 3;
}

.ContactDetails {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    border: black solid 3px;
    margin: 5px;
}

.ContactDetails ul li {
    display: flex;
    padding: 5px;
}

/* Tableau à faire */
.Table {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 6;
    border: black solid 3px;
    margin: 5px;
}

aside {
    grid-column: span 3 / span 3;
    grid-row-start: 10;
}

.Notification {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 11;
    border: black dashed 3px;
    border-radius: 8px;
}

.Messaging {
    grid-row: span 2 / span 2;
    grid-row-start: 13;
    border: black solid 3px;
}

.ProContactDetails {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 13;
    border: black solid 3px;
    
}

.InformationPanel {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-row-start: 15;
    border: black solid 3px;
}

footer {
    background-color: lightgrey;
}

a {
    color: black;
}

.aUnderline {
    text-decoration: underline;
}


/* Mise en place de la grille principale DESKTOP*/

@media (min-width: 678px) {

body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(12, auto);
    gap: 2px;
}

header {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

nav {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

main {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(11, auto);
    gap: 10px;
}

footer {
    grid-column: span 2 / span 2;
    grid-row-start: 12;
}

/* Main grille interieure */
.Title {
    grid-column: span 3 / span 3;
}

.ContactDetails {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 2;
}

.Table {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 7;
}

aside {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 1;
}

.Notification {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

.Messaging {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
}

.ProContactDetails {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;
}

.InformationPanel {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    grid-row-start: 7;
}
}